@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #ec4899;
}

body {
	@apply bg-zinc-50/50 text-slate-900 antialiased;
	font-family: "Inter", sans-serif;
}

label {
	@apply font-medium text-sm text-slate-700;
}

h1,
h2,
h3,
.font-serif {
	font-family: "Playfair Display", serif;
}
